* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
 --green: hsl(75, 94%, 57%);
 --white: hsl(0, 0%, 100%);
 --grey: hsl(0, 0%, 20%);
 --dark-grey: hsl(0, 0%, 12%);
 --off-black: hsl(0, 0%, 8%);

 font-size: 62.5%;
}

body {
  min-height: 100vh;

  background-color: var(--off-black);
  color: var(--white);
  font-size: 1.4rem;

  display: grid;
  place-content: center;
}

.container {
  background-color: var(--dark-grey);
  width: 38.4rem;

  padding: 3.6rem 4rem;
  margin: 2rem;

  border-radius: 1.2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;

  margin-bottom: 2rem;
}

.profile h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.profile span {
  color: var(--green);
  font-weight: 700;
  margin: .8rem 0 2.8rem;
}

.social-links {
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  margin-top: 2.8rem;
}

.social-links li a {
  background-color: var(--grey);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;

  height: 4.6rem;
  border-radius: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color .2s;
}

.social-links li a:hover {
  background-color: var(--green);
  color: var(--dark-grey);
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: var(--green);
}

@media (max-width: 420px) {
  *, .social-links li a {
    font-size: 95%;
  }
  
  .container {
    width: 34.4rem;
  }
}

@media (max-width: 367px) {  
  .container {
    width: 31rem;
  }
}

@media (max-width: 320px) {  
  * {
    font-size: 90%;
  }

  .container {
    width: 27rem;
  }
}